*.pyc
*.pyo
*.pyd

__pycache__/
.cache/
.pytest_cache/

venv/
.env/
env/
.venv/

.vscode/
.idea/

htmlcov/
.coverage
coverage.xml
nosetests.xml
pytest.xml

*.log

*.env
*.local
*.db
*.sqlite3

dist/
build/
*.egg-info/

docs/_build/